
:root {
    --btn-color: #AF872F;
}

/************
  Global
  styles
*************/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3, h4,
h5, h6, p {
    margin: 0;
}

/************
=============
  CLASSES
  TO BE USED
===============
*************/
.ptb {
    padding: 5rem 0;
}

.details-btn {
    background: var(--btn-color);
    color: #fff;
    font-size: 1rem;
    padding: .6rem 2rem;
    font-family: 'Raleway', sans-serif;
    border: 0;
}

.banner-heading,
.title {
    font-family: 'Kaisei Tokumin', serif;
}

.para {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.primary-title {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.primary-title::after {
    content: url(/img/seperator.png);
    position: absolute;
    top: 40px;
    left: 50%;
}

.sec-title {
    
}

.tert-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.sec-para {
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    margin: 55px 0 30px 0;

}


/************
  NAVIGATION
*************/
nav  {
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgba(25,25,25,.3) !important;
    box-shadow: 0px 10px 60px rgb(0 0 0 / 0%);
    color: #e67e22;
    padding: 1rem 3rem !important;

}

nav ul {
    margin-left: auto;
}

nav ul li {
    text-transform: uppercase;
    padding: 0 1.3rem;
}

nav ul li a {
    color: #fff;
    font-family: 'Kaisei Tokumin', serif;
    font-weight: 700;
    font-size: 0.95rem;
}

nav ul li a:hover {
    color: #fff;
}

/************
BANNER CSS
*************/
.banner {
    margin-left: -15px;
    margin-right: -15px;
}

.banner .slick-prev {
    margin-left: 30px;
    background: rgba(25,25,25,.3) !important;
    z-index: 1;
}

.banner .slick-next {
    margin-right: 30px;
    background: rgba(25,25,25,.3) !important;
    z-index: 1;
}

.banner .slide .slide-img {
    height: 100vh;
}

.banner .slide .slide-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner .slide {
   position: relative; 
}

.banner .slide .slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}


.arrow {
    background: #fff;
    width: 35px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.arrow-prev {
    top: 50%;
    left: 20px;
}

.arrow-next {
    right: 20px;
    top: 50%;
}


/************
    FEATURE 
    CSS
*************/
.features .para-holder {
    max-width: 700px;
    margin: 0 auto;
}

.features .features-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.features .features-detail .features-text {
    margin: 1.5rem 0;
    text-align: center;
}

.features .features-detail .features-text  p {
    margin: 20px 0;
    font-weight: 500;
}
